* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 0 1rem 0 1rem;
}

main {
  margin-top: 3rem;
}

section {
  height: 100vh;
}

.logo {
  padding: 1rem;
}
