.button-filled {
  min-width: 12rem;
  padding: 1rem 1.5rem;
  background-color: #3600ce;
  border-style: solid;
  border-color: #3600ce;
  border-width: 2px;

  color: white;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;

  font-size: 0.875rem;
  font-weight: bold;
  margin-right: 1.25rem;
  margin-bottom: 0.75rem;
  font-family: inherit;

  cursor: pointer;
}

.button-outlined {
  min-width: 12rem;
  padding: 1rem 1.5rem;
  background-color: white;
  color: #3600ce;

  border-style: solid;
  border-color: #3600ce;
  border-width: 2px;

  border-radius: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;

  text-decoration: none;

  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  font-family: inherit;

  cursor: pointer;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}
