.button-filled {
  min-width: 12rem;
  padding: 1rem 1.5rem;
  background-color: #3600ce;
  border-style: solid;
  border-color: #3600ce;
  border-width: 2px;

  color: white;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;

  font-size: 0.875rem;
  font-weight: bold;
  margin-right: 1.25rem;
  margin-bottom: 0.75rem;
  font-family: inherit;

  cursor: pointer;
}

.button-outlined {
  min-width: 12rem;
  padding: 1rem 1.5rem;
  background-color: white;
  color: #3600ce;

  border-style: solid;
  border-color: #3600ce;
  border-width: 2px;

  border-radius: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;

  text-decoration: none;

  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  font-family: inherit;

  cursor: pointer;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.arrow-link {
  position: relative;

  width: 4rem;
  height: 4rem;

  animation: animate 2s infinite;
}

.arrow-icon,
.arrow-icon::before,
.arrow-icon::after {
  display: block;

  position: absolute;

  width: 2rem;
  height: 0.5rem;

  background: #3600ce;
  border-radius: 0.5rem;
}

.arrow-icon {
  transform: rotate(90deg) translate(1.75rem, -1rem);
}

.arrow-icon::before,
.arrow-icon::after {
  content: '';
  position: absolute;

  width: 1.5rem;
}

.arrow-icon::before {
  transform: rotate(-45deg) translateY(0.75rem);
}

.arrow-icon::after {
  transform: rotate(45deg) translateY(-0.75rem);
}
/* 
@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(1rem);
    opacity: 1;
  }
} */
