.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100vw;
  height: 100vh;
  /* not to overlap components */
  max-height: 0px;
  /* to enable fade in/ou animations */
  opacity: 0;
}

.nav-bar.open ul {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.menu-button {
  /* reset button styling*/
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: transparent;

  position: relative;
  height: 2rem;
  width: 2.5rem;
  cursor: pointer;
  padding-left: 0.5rem;
}

.menu-button:hover .menu-button-burger,
.menu-button:hover .menu-button-burger::before,
.menu-button:hover .menu-button-burger::after {
  background: #3600ce;
}

.menu-button-burger,
.menu-button-burger::before,
.menu-button-burger::after {
  display: block;
  background: #2b2b2b;
  width: 1.25rem;
  height: 2px;
  border-radius: 1px;
  position: relative;

  transition: all 0.5s ease-in-out;
}

.menu-button-burger::before,
.menu-button-burger::after {
  content: '';
  position: absolute;
}

.menu-button-burger::before {
  transform: translateY(-0.5rem);
}

.menu-button-burger::after {
  transform: translateY(0.5rem);
}

.menu-button.open .menu-button-burger {
  background: transparent;
}

.menu-button.open .menu-button-burger::before {
  transform: rotate(45deg);
}

.menu-button.open .menu-button-burger::after {
  transform: rotate(-45deg);
}

.nav-bar li {
  text-align: center;
}

.nav-bar a {
  display: block;
  padding: 1.5rem;
  color: #2b2b2b;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.0625rem;
  position: relative;
  max-width: 60%;
  margin: 0 auto;
}

.nav-bar a:hover {
  color: #3600ce;
}

.nav-bar .active-link a {
  color: #3600ce;
  font-weight: bold;
}

.nav-bar a[data-content]::before {
  content: attr(data-content);
  margin-top: 1.75rem;
  height: 3px;
  position: absolute;
  background: transparent;
  border-radius: 25%;
  color: transparent;
}

.nav-bar .active-link a[data-content]::before {
  content: attr(data-content);
  margin-top: 1.75rem;
  height: 3px;
  position: absolute;
  background: #3600ce;
  border-radius: 25%;
  color: transparent;
  transition: background 0.5s ease;
}

@media only screen and (min-width: 768px) {
  .nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    position: relative;

    width: 100%;
    height: 100%;
    display: block;
  }

  .nav-bar li {
    display: inline;
  }

  .nav-bar a {
    padding: 1rem 1.25rem;
    font-size: 1.125rem;

    display: inline;
  }

  .nav-bar button {
    display: none;
  }
}
