.title::after {
  content: '';

  display: block;

  width: 7rem;
  height: 0.3125rem;
  margin-top: 0.5rem;

  border-radius: 0.15625rem;
  background: #3600ce;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.form {
  width: 60%;
  min-width: 250px;
  max-width: 500px;
  margin-right: 6rem;
}

.field {
  position: relative;

  height: 3.5rem;
  margin-top: 2rem;
}

.field .input {
  position: absolute;

  width: 100%;
  height: 3.5rem;
  padding: 1rem 1rem 0 1rem;

  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;

  font-size: 1rem;
  font-family: inherit;
}

.field .input:focus-within {
  padding-left: 0.9375rem;

  outline: none;
  border-color: #3600ce;
  border-width: 2px;
}

.field label {
  position: relative;
  top: 1.25rem;
  left: 1rem;

  font-size: 1rem;

  cursor: text;
  color: #3b3b3b;

  transition: top 0.2s ease-out, font-size 0.2s ease-out;
}

.field .input:focus-within ~ label {
  top: 0.125rem;

  font-size: 0.75rem;

  transition: top 0.2s ease-out, font-size 0.2s ease-out;
}

.field .input:not(:placeholder-shown) ~ label {
  top: 0.125rem;

  font-size: 0.75rem;
}

.field textarea {
  resize: none;
  height: auto !important;
  padding: 1.75rem 1rem 0.875rem 1rem !important;

  line-height: 1.5rem;
}

.field textarea:focus-within {
  padding-top: 1.6875rem !important;
  padding-left: 0.9375rem !important;
}

.button-filled {
  position: relative;

  width: 100%;
  height: 3.5rem;
  margin-top: 7.25rem;
  margin-bottom: 2rem;

  border-radius: 0.5rem;
  border-style: solid;

  font-family: inherit;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: white;

  border-color: #3600ce;
  background-color: #3600ce;
  cursor: pointer;
}

.button-filled:hover {
  border-color: #3f00eb;
  background-color: #3f00eb;
}

[role='alert'] {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 100%;
  padding: 1.5rem;

  border-radius: 0.5rem;

  letter-spacing: 0.0625rem;
}

[role='alert'] > p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.alert-success {
  background-color: #ceffa8;
  border: 2px solid #224c00;
  color: #224c00;
}

.alert-success .button-close {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2.5rem;
  min-width: 2.5rem;
  margin: auto 0;

  border-style: none;
  border-radius: 50%;
  background-color: #224c009a;
  color: #ceffa8;

  cursor: pointer;
}

.alert-success .icon-close {
  display: block;

  width: 1rem;
  height: 0.25rem;

  background-color: #ceffa8;
  border-radius: 2px;

  transform: rotate(45deg);
}

.alert-success .icon-close::after {
  content: '';

  display: block;

  width: 1rem;
  height: 0.25rem;

  background-color: #ceffa8;
  border-radius: 2px;
  transform: rotate(90deg);
}

.alert-error {
  background-color: #ffa8a8;
  border: 2px solid #4c0000;
  color: #4c0000;
}

.alert-error .button-close {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2.5rem;
  min-width: 2.5rem;
  margin: auto 0;

  border-style: none;
  border-radius: 50%;
  background-color: #4c00009a;
  color: #ffa8a8;

  cursor: pointer;
}

.alert-error .icon-close {
  display: block;

  width: 1rem;
  height: 0.25rem;

  background-color: #ffa8a8;
  border-radius: 2px;

  transform: rotate(45deg);
}

.alert-error .icon-close::after {
  content: '';

  display: block;

  width: 1rem;
  height: 0.25rem;

  background-color: #ffa8a8;
  border-radius: 2px;
  transform: rotate(90deg);
}

.social-links {
  padding-top: 1rem;
}

.social-links-wrapper {
  display: flex;
  align-items: center;
}

.social-icons {
  margin-left: -2px;
  margin-right: 0.5rem;
  color: #3b3b3b;
}

.social-icons:hover {
  color: #3f00eb;
}
