.project {
  padding: 1.5rem 0 2.5rem 0;
}

.project .title {
  font-size: 1.75rem;
}

.primary {
  background: white;
}

.secondary {
  margin-left: -10vw;
  margin-right: -10vw;
  padding-left: 10vw;
  padding-right: 10vw;

  background: #efefef;
}

.secondary .section-tech li {
  background-color: #d8caff;
}

.description-box {
  font-size: 1.125rem;
  line-height: 2rem;
}

.description-box p {
  margin-top: 2.5rem;
}

.section-tech .title {
  margin-top: 2.5rem;

  font-size: 1.125rem;
}

.section-tech ul {
  margin: 0;
  margin-top: 1.5rem;
  padding: 0;

  list-style-type: none;
}

.section-tech li {
  display: inline-block;

  margin-right: 0.75rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;

  background-color: #ebe3ff;
  border-radius: 0.5rem;

  font-size: 0.75rem;
}

.image-container {
  display: none;
}

.button-wrapper {
  display: flex;
  flex-direction: column;

  margin-top: 2.5rem;
}

.button-filled {
  max-height: 3.5rem;
  margin-bottom: 0.75rem;
  padding: 1rem 1.5rem;

  background-color: #5925eb;
  border-style: solid;
  border-color: #5925eb;
  border-width: 2px;
  border-radius: 0.5rem;

  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: inherit;

  cursor: pointer;
}

.button-filled:hover {
  background-color: #6536e9;
  border-color: #6536e9;
}

.button-outlined {
  max-height: 3.5rem;
  margin-bottom: 0.75rem;
  padding: 1rem 1.5rem;

  background-color: white;
  border-style: solid;
  border-color: #5925eb;
  border-width: 2px;
  border-radius: 0.5rem;

  color: #5925eb;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: inherit;

  cursor: pointer;
}

.button-outlined:hover {
  background-color: #f5f1ff;
  border-color: #6536e9;
}

@media only screen and (min-width: 600px) {
  .project {
    margin: 1.5rem 0 8.5rem 0;
    padding-left: 5vw;
    padding-right: 5vw;

    border-radius: 1rem;
    border: solid 6px #efefef;
  }

  .button-wrapper {
    display: flex;
    flex-direction: row;

    position: absolute;

    margin-top: 4.5rem;
    margin-left: -5vw;
  }

  .button-wrapper > a {
    width: 10rem;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .project {
    display: flex;

    margin-bottom: 6.5rem;
    padding: 1.5rem 0 2.5rem 0;

    border: none;
  }

  .project p {
    width: 50ch;
  }

  .content-box {
    flex-grow: 1;

    padding-right: 2rem;
  }

  .description-box {
    margin-right: -4rem;
    padding: 1rem 3rem 2rem 3rem;

    background: #efefef;
    border-radius: 0.5rem;
  }

  .section-tech li {
    font-size: 1rem;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    max-width: 30vw;
    padding-top: 3rem;
  }

  .image-container {
    display: block;
  }

  .image-container > img {
    width: 100%;
    min-width: 20vw;

    border-radius: 1rem;
    border: solid 6px #efefef;
  }

  .button-wrapper {
    display: block;

    position: static;

    margin: 2rem 0;
  }

  .button-wrapper > a {
    margin-right: 0;
    margin-left: 1rem;
  }

  /* SECONDARY  */

  .project.secondary {
    flex-direction: row-reverse;

    background: white;
  }

  .project.secondary .content-box {
    padding-left: 3rem;
    padding-right: 0;
  }

  .project.secondary .links-container {
    align-items: flex-start;
  }

  .project.secondary .description-box {
    margin-right: 0;
    margin-left: -5rem;
    padding: 1rem 5rem 2rem 5rem;
  }

  .project.secondary .button-wrapper > a {
    margin-left: 0;
    margin-right: 1rem;
  }
}
